doctype html
html 
  head 
    title This is Manoj
    block scripts 
    block style  
  body 
    nav#navbaar 
       ul 
           div#logo
              img(src="/static/captain america.ico")
           li #[a(href = "/") Home]
           li #[a(href = "/") About ]
           li #[a(href = "/") Services] 
           li #[a(href = "/Contact") Contact]

    block content 
    footer#footer 
       | Copywrite @ Websites by Manoj